<%- include('partials/header', {
    title: 'Détail cocktail'
}) %>

<body>
    <nav>
          <a href="/">Liste des cocktails</a>
    </nav>
        <div class="recette">
            <h1><%= cocktail.name.toUpperCase() %></h1>
            <img src="<%= cocktail.img %>" alt="<%= cocktail.name %>">
            <h2>Type :</h2>
            <h3><%= cocktail.type %></h3>
            <h2>Ingrédients :</h2>
            <div class="ingredients">
                <ul> 
                    <% cocktail.ingredients.forEach(element => { %>
                        <li><%= element %></li>
                    <% }); %>
                </ul> 
            </div>
            <h2>Tags :</h2>
            <ul> 
                <% cocktail.tags.forEach(element => { %>
                    <li><%= element %></li>
                <% }); %>
            </ul> 
        </div>
</body>

<%- include('partials/footer') %>
