<%- include('partials/header', {
    title: 'Liste cocktails'
}) %>

<body>
    <h1>Liste de coktails</h1>
    <ul>
        <% cocktails.forEach(cocktail => { %>
            <li><a href="cocktail/<%= cocktail.name %>"><%= cocktail.name %></a></li>
        <% }); %>
    </ul> 

    <h1>Liste de cocktails par types</h1>

    <ul>
        <% cocktails.forEach(cocktail => { %>
            <li><a href="typeName/<%= cocktail.type %>"><%= cocktail.type %></a></li>
        <% }); %>

    </ul> 
</body>

<%- include('partials/footer') %>
